.custom-card {
    background-color: #3498db; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }

  .custom-card:hover {
    cursor:pointer;
    background-color: #2980b9; /* Color de fondo al hacer hover */
  }