<app-menu></app-menu>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col" *ngFor="let habitacion of habitaciones">
        <div class="card bg-light my-card">
          <div class="card-body">
            <h5 class="card-title ms-3">Habitación N°{{habitacion.roomNumber}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Precio: ${{habitacion.roomPrice}} por noche</li>
              <li class="list-group-item">Estado: {{habitacion.objRoomStatus?.name}}</li>
              <li class="list-group-item">Número de Piso: {{habitacion.objFloor?.desc}}</li>
              <li class="list-group-item">Tipo de Habitación: {{habitacion.objRoomType?.desc}}</li>
            </ul>
          </div>
        </div>
      </div>
  
      
    </div>
</div>
